.page {
    background-color: #2A2C2F;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
        width: 100%;
    }
}

/* {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
} */
