.website__link {
    width: 456px;
    min-height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    float: right;
}

.website__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .website__link {
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .website__link {
        display: none;
    }
}
