@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(__lists/header__lists.css);
@import url(__list/header__list.css);

.header {
    max-width: 1184px;
    height: 52px;
    margin: 28px auto 56px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        min-height: 52px;
        margin: 28px auto 48px auto;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        min-height: 52px;
        margin: 28px auto 48px auto;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        min-height: 42px;
        margin: 16px auto 48px auto;
    }
}
