.navigation__list {
    list-style-type: none;
    display: flex;
    margin: 0 -9px;
    padding: 0;
}

@media screen and (max-width: 568px) {
    .navigation__list {
        flex-direction: column;
        margin: -16px 0;
    }
}
