.place__paragraph {
    max-width: 484px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 112.5%;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 auto 24px auto;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        .place__paragraph {
            max-width: 352px;
            width: 100%;
            font-size: 16px;
            line-height: 26px;
        }
    }

    @media screen and (max-width: 320px) {
        .place__paragraph {
            max-width: 288px;
            width: 100%;
        }
    }
