.footer__copyright {
    max-width: 186px;
    min-height: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;

    }
}