.header__lists {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

@media screen and (max-width: 320px) {
    .header__lists {
        align-items: center;
    }
}
